<ion-header>
  <ion-toolbar *ngFor="let x of cd">
    <ion-title>{{x.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div" >
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card" *ngFor="let x of cd">
            <ion-card-content class="welcome" >

              <h1><strong>{{x.name}}</strong></h1>
            </ion-card-content>
          </ion-card>
          <ion-card class="trailer">
            <ion-card-content >
              <h1 style="color: black;"> <strong>Trailer</strong></h1>
              <iframe width="300" height="320" *ngFor="let x of cd" [(ngModel)]="x.youtube" [src]="sanitize(x.youtube)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
               clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>

        <ion-card class="cd_info" *ngFor="let x of cd">
          <ion-card-content >
            <h1 style="color: black;"> Game's Info</h1>
            <br> <br> <br>
            <div class="name">
              <h2 style="color: black; ;"><strong>Name? </strong></h2>
              <h3><strong>{{x.name}}</strong></h3>
            </div>
            <br> <br>
            <div class="platform">
              <h2 style="color: black; ;"><strong>Platform? </strong></h2>
              <h3><strong>{{x.type}}</strong></h3>
            </div>
            <br> <br>
            <div class="date">
              <h2 style="color: black; ;"><strong>Release Date? </strong></h2>
              <h3><strong>{{x.release_date}}</strong></h3>
            </div>
            <br> <br>
            <div class="genre">
              <h2 style="color: black; ;"><strong>Genre? </strong></h2>
              <h3><strong>{{x.genre}}</strong></h3>
            </div>
            <br> <br>
            <div class="info">
              <h2 style="color: black; ;"><strong>Game and Legal Info? </strong></h2>
              <h3><strong>{{x.info}}</strong></h3>
            </div>


          </ion-card-content>
        </ion-card>
          <!--menu-->
          <ion-tabs class="tabs">
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="home" (click)="home()">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="shop" (click)="shop()">
                <ion-icon name="bag"></ion-icon>
                <ion-label>Shop</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="profile" (click)="profile()">
                <ion-icon name="person"></ion-icon>
                <ion-label>profile</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="about" (click)="aboutus()">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-content>
</body>


