<ion-header>
  <ion-toolbar>
    <ion-title>Resident evil</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">
            <ion-card-content class="welcome">
              <h1><strong>Resident evil</strong></h1>
            </ion-card-content>
          </ion-card>
          <ion-card class="trailer">
            <ion-card-content>
              <h1 style="color: black;"> <strong>Trailer</strong></h1>
              <iframe width="300" height="320" [src]="sanitize(vid)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
               encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>

        <ion-card class="cd_info">
          <ion-card-content>
            <h1> Game's Info</h1>
            <ul>
              <li>Name: Resident evil</li>
              <li>Price: 60$</li>
              <li>Released: 1/3/2016</li>
              <li>2 PLayers</li>
              <li>Online Play optional</li>
              <li>DUALSHOCK 4 vibration</li>
              <li>Mortal Kombat is an American media franchise centered on a series of video games originally developed by Midway Games in 1992. The development of the first game was originally based on an idea that Ed Boon and John Tobias had of making a video game starring Jean-Claude Van Damme, but when that idea fell through, a science fantasy-themed fighting game was created instead. Still, the developers paid homage to him with Johnny Cage, a fictional film star whose personal style resembles Van Damme's. The original Mortal Kombat was the first fighting game to introduce a secret fighter, reached if the player fulfilled a set of requirements.

                The original game has spawned many sequels and spin-offs consisting of several action-adventure games, as well as a comic book series and a card game. Movie producer Larry Kasanoff licensed the rights to the game in the early 1990s and produced the first movie of the franchise. Kasanoff also produced the second movie, animated TV series, live-action TV series movies, the first one million platinum-selling album, and a live-action tour. Mortal Kombat has become the best-selling fighting game franchise worldwide and one of the highest-grossing media franchises of all time.
                
                The series has a reputation for high levels of graphic violence, including, most notably, its fatalities, which are finishing moves that kill the defeated opponents instead of knocking them out. Controversies surrounding Mortal Kombat, in part, led to the creation of the Entertainment Software Rating Board video game rating system. Early games in this series were also noted for their realistic digitized sprites and an extensive use of palette swapping to create new characters. Following Midway's bankruptcy, the MK development team was acquired by Warner Bros. Entertainment and reestablished as NetherRealm Studios.</li>
            </ul>
          </ion-card-content>
        </ion-card>
                    <!--menu-->
                    <ion-tabs class="tabs">
                      <ion-tab-bar slot="bottom" >
                        <ion-tab-button tab="home">
                          <ion-icon name="home"></ion-icon>
                          <ion-label>Home</ion-label>
                        </ion-tab-button>
                    
                        <ion-tab-button tab="shop">
                          <ion-icon name="bag"></ion-icon>
                          <ion-label>Shop</ion-label>
                        </ion-tab-button>
                    
                        <ion-tab-button tab="profile">
                          <ion-icon name="person"></ion-icon>
                          <ion-label>profile</ion-label>
                        </ion-tab-button>
                    
                        <ion-tab-button tab="about">
                          <ion-icon name="information-circle"></ion-icon>
                          <ion-label>About</ion-label>
                        </ion-tab-button>
                      </ion-tab-bar>
                    </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-content>
</body>


