<ion-header>
  <ion-toolbar>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card>          
            <ion-card-content class="welcome">
              <h1><strong>Our Shop</strong></h1>
            </ion-card-content>
          </ion-card>
          <h1 class="card_title" style="color: white;"> <strong>Choose Your Cd's, Controllers and Charges</strong> </h1>


          <!--ps3-->
          <ion-card class="ps3">          
            <ion-card-content >
              <h3 style="color: black; width: 50%; margin-top: 20px; text-decoration: underline;"><strong> <i>PS3 cd's:</i></strong></h3>
              <ion-card *ngFor="let x of cdsps3" style="background-color: black; width: 90%;margin-top: 30px;">
                <ion-card-header>
                  <ion-card-subtitle ><img src="{{x.image}}.png" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>{{x.name}}</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;">
                  </div>
                </div>
                <div class="hi1">
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{x.price}}</h1>
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{x.type}}</h1>

                  <ion-button  href="{{x.image}}" class="buy_btn" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>info</strong>
                  </ion-button>
                  <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
                
              </ion-card>

            </ion-card-content>
          </ion-card>
          
          
          
          
          
          
          
          
          
          
          <!--ps4-->
          <ion-card class="ps4">          
            <ion-card-content >
              <h3 style="color: black; width: 50%; margin-top: 20px;text-decoration: underline;"><strong> <i>PS4 cd's:</i></strong></h3>
              <ion-card  *ngFor="let y of cdsps4" style="background-color: black; width: 90%;margin-top: 30px;">
                <ion-card-header>
                  <ion-card-subtitle><img src="{{y.image}}.png" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>{{y.name}}</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;">
                  </div>
                </div>
                <div class="hi1">
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{y.price}}</h1>
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{y.type}}</h1>
                  <ion-button href="{{y.image}}" class="buy_btn" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>info</strong>
                  </ion-button>
                  <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>

















          <!--ps5-->
          <ion-card class="ps5">          
            <ion-card-content >
              <h3 style="color: black; width: 50%; margin-top: 20px;text-decoration: underline;"><strong> <i>PS5 cd's:</i></strong></h3>
              <ion-card  *ngFor="let z of cdsps5" style="background-color: black; width: 90%;margin-top: 30px;">
                <ion-card-header>
                  <ion-card-subtitle><img src="{{z.image}}.png" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>{{z.name}}</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;">
                  </div>
                </div>
                <div class="hi1">
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{z.price}}</h1>
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{z.type}}</h1>
                  <ion-button href="{{z.image}}" class="buy_btn" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>info</strong>
                  </ion-button>
                  <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>

          <!--xbox-->
          <ion-card class="xbox">          
            <ion-card-content >
              <h3 style="color: black; width: 50%; margin-top: 20px;text-decoration: underline;"><strong> <i>Xbox cd's:</i></strong></h3>
              <ion-card  *ngFor="let w of cdsxbox" style="background-color: black; width: 90%;margin-top: 30px;">
                <ion-card-header>
                  <ion-card-subtitle><img src="{{w.image}}.png" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>{{w.name}}</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;">
                  </div>
                </div>
                <div class="hi1">
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{w.price}}</h1>
                  <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">{{w.type}}</h1>
                  <ion-button href="{{w.image}}" class="buy_btn" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>info</strong>
                  </ion-button>
                  <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>

                    <!--cotrollers-->
                    <ion-card class="controllers">          
                      <ion-card-content >
                        <h3 style="color: black; width: 50%; margin-top: 20px;text-decoration: underline;"><strong> <i>Controllers:</i></strong></h3>
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="ps3_controller.png" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">PS3</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                          
                        </ion-card>
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="ps4_controller.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%; ">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">60$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">PS4</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
          
          
          
          
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="ps5_controller.png" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">60$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">PS5</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
          
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="xbox_controller.png" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">60$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">xbox</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
                      </ion-card-content>
                    </ion-card>












                    <!--charges-->
                    <ion-card class="charges">          
                      <ion-card-content >
                        <h3 style="color: black; width: 50%; margin-top: 20px;text-decoration: underline;"><strong> <i>Charges:</i></strong></h3>
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="controller_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">PS3</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                          
                        </ion-card>
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="controller_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%; ">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">PS4</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
          
          
          
          
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="controller_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
          
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="controller_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">xbox</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="iphone_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">Samsung</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
          
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="iphone_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">Iphone</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
                        <ion-card style="background-color: black; width: 90%;margin-top: 30px;">
                          <ion-card-header>
                            <ion-card-subtitle><img src="huawei_charge.jpg" alt=""></ion-card-subtitle>
                          </ion-card-header>
                          <div class="row">
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="star.png" alt="" style="width:100%;">
                            </div>
                            <div class="column">
                              <img src="halfstar.png" alt="" style="width:100%;">
                            </div>
                          </div>
                          <div class="hi1">
                            <h1 style="background-color:#3880ff; color: white;margin: 5px; border-radius: 10px;">10$</h1>
                            <h1 style="background-color: #3880ff; color: white; margin: 5px; border-radius: 10px;">Huawei</h1>

                            <ion-button class="buy_btn" (click)="buy()" expand="block" fill="clear" shape="round" style="background-color: #3880ff; color: white;margin: 5px; border-radius: 10px;">
                              <strong>BUY</strong>
                            </ion-button>
                          </div>
                        </ion-card>
                      </ion-card-content>
                    </ion-card>

                    
          <!--menu-->
          <ion-tabs class="tabs">
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="home" (click)="home()">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="shop" (click)="shop()">
                <ion-icon name="bag"></ion-icon>
                <ion-label>Shop</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="profile" (click)="profile()">
                <ion-icon name="person"></ion-icon>
                <ion-label>profile</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="about" (click)="aboutus()">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  
  </ion-content>
</body>


