// .card{
//     margin-top: 65px;
//     width:100%;
//     background-color: white;
//     opacity: 50%;
//     height: 50px;
// }
.div{
    background-image: url(wallpaper2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.welcome{
    color: black;
    background-color: white;
    margin-top: 52px;
    opacity: 50%;
    height: 75px;
    width: 100%;
    
}
.what_we_have{
    display: flex;
    justify-content: center;

    margin-top: 50px;

    height: 700px;
    background-color: white;
    opacity: 65%;
}

.h1{
    color: black;
    text-decoration: underline;
    
}

.image{
    background-image: url(icon1.png);
    
}
.image1{
    background-image: url(icon2.png);
    
}
.image2{
    background-image: url(cables.png);
    
}
.image3{
    background-image: url(coldwar.png);
    
}
.image4{
    background-image: url(star.png);
    
}
.image5{
    background-image: url(halfstar.png);
    
}
.image6{
    background-image: url(batman.png);
    
}
.image7{
    background-image: url(hitman.png);
    
}

.card_title{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.hi{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.hi h1{
    font-size: 15px;
}




.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 13.33%;
    padding: 5px;
  }
    .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .buy_btn:hover{
      background-color:#f4f5f8;
  }
//   .objects{
//     display: flex;
//     justify-content: center;

//     margin-top: 50px;

//     height: 2750px;
//     background-color: white;
//     opacity: 65%;
//   }
  .hi1 h1,button{
      font-size: 20px;
  }
//   .offers{
//     display: flex;
//     justify-content: center;

//     margin-top: 50px;

//     height: 1600px;
//     background-color: white;
//     opacity: 65%;
//   }
  .tabs{
      bottom: 0;
      position: sticky;
      
  }