<ion-header>
  <ion-toolbar>
    <ion-title>Game Center Home</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">          
            <ion-card-content class="welcome">
              <h1><strong>You've Reached Game Center!</strong></h1>
            </ion-card-content>
          </ion-card>
          <ion-card class="what_we_have">          
            <ion-card-content >
              <h1 class="card_title"> <strong>what do we have in our center?</strong> </h1>
              <ion-avatar class="hi">
                <img src="icon1.png"> 
              </ion-avatar>
              <h1>PS3, PS4, PS5 and XBOX</h1>

              <ion-avatar class="hi">
                <img src="icon2.png"> 
              </ion-avatar>
              <h1>PS3, PS4, PS5, XBOX CD'S</h1>

              <ion-avatar class="hi">
                <img src="cables.png"> 
              </ion-avatar>
              <h1>PS3, PS4, PS5 and XBOX</h1>
            </ion-card-content>
          </ion-card>
        



          <ion-card class="objects">          
            <ion-card-content >
              <h1 class="card_title"> <strong>Choose your template</strong> </h1>
              <ion-card style="background-color: black; width: 40%;">
                <ion-card-header>
                  <ion-card-subtitle><img src="coldwar_ps5.jpg" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>Mortal Combat</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%; margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                </div>
                <div>
                  <h1 style="background-color: blue; color: white;">20$</h1>
                  <ion-button class="buy_btn" (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: blue; color: white;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
                
              </ion-card>









              <ion-card style="background-color: black; width: 40%;">
                <ion-card-header>
                  <ion-card-subtitle><img src="coldwar_ps5.jpg" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>Mortal Combat</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%; margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                </div>
                <div>
                  <h1 style="background-color: blue; color: white;">20$</h1>
                  <ion-button class="buy_btn" (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: blue; color: white;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>















              <ion-card style="background-color: black; width: 40%;">
                <ion-card-header>
                  <ion-card-subtitle><img src="coldwar_ps5.jpg" alt=""></ion-card-subtitle>
                  <ion-card-title style="color: white;"> <strong>Mortal Combat</strong></ion-card-title>
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%; margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width:100%;margin-left: 40px;">
                  </div>
                </div>
                <div>
                  <h1 style="background-color: blue; color: white;">20$</h1>
                  <ion-button class="buy_btn" (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: blue; color: white;">
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  
  </ion-content>
</body>


