.card{
    margin-top: 55px;
    width:100%;
    background-color: white;
    opacity: 50%;
    height: 80px;
}
.div{
    background-image: url(wallpaper2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.welcome{
    color: black;
    
}
.what_we_have{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    height: 900px;
    background-color: white;
    opacity: 65%;

}
.h1{
    color: black;
    text-decoration: underline;
    

}