<ion-header>
  <ion-toolbar>
    <ion-title>Game Center Home</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">          
            <ion-card-content class="welcome">
              <h1><strong>You've Reached Game Center!</strong></h1>
            </ion-card-content>
          </ion-card>

          <ion-card class="what_we_have">          
            <ion-card-content >
              <h1 class="h1"><strong>What do we have?</strong></h1>
              <div>
                <ion-img style="width: 80px; height: 80px; margin-top: 90px;" src="person.png"></ion-img>
                <ul>
                  <li>helo</li>
                  <li>hhhaaahh</li>
                </ul>
              </div>
              <div>
                <ion-img style="width: 80px; height: 80px; margin-top: 90px;" src="person.png"></ion-img>
                <ul>
                  <li>helo</li>
                  <li>hhhaaahh</li>
                </ul>
              </div>
              <div>
                <ion-img style="width: 80px; height: 80px; margin-top: 90px;" src="person.png"></ion-img>
                <ul>
                  <li>helo</li>
                  <li>hhhaaahh</li>
                </ul>
              </div>
            </ion-card-content>
          </ion-card>


          
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  
  </ion-content>
</body>

