
.div{
    background-image: url(../../../assets/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.welcome{
    color: black;
    background-color: white;
    margin-top: 52px;
    opacity: 50%;
    height: 75px;
    width: 100%;
    
}
.what_we_have{
    display: flex;
    justify-content: center;

    margin-top: 50px;

    height: 700px;
    background-color: white;
    opacity: 65%;
}

.h1{
    color: black;
    text-decoration: underline;
    
}


.card_title{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.card_title_main{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.hi{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.hi h1{
    font-size: 15px;
}




.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 13.33%;
    padding: 5px;
  }
    .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .buy_btn:hover{
      background-color:#f4f5f8;
  }

  .hi1 h1,button{
      font-size: 20px;
  }

  .tabs{
      bottom: 0;
      position: sticky;
      
  }