<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">
            <ion-card-content class="welcome">
              <h1><strong>You've Reached Game Center!</strong></h1>
            </ion-card-content>
          </ion-card>
          <ion-card class="what_we_have">
            <ion-card-content>
              <h1 class="card_title">
                <strong>what do we have in our center?</strong>
              </h1>
              <ion-avatar class="hi">
                <img src="icon1.png" />
              </ion-avatar>
              <h1>PS3, PS4, PS5 and XBOX</h1>

              <ion-avatar class="hi">
                <img src="icon2.png" />
              </ion-avatar>
              <h1>PS3, PS4, PS5, XBOX CD'S</h1>

              <ion-avatar class="hi">
                <img src="cables.png" />
              </ion-avatar>
              <h1>PS3, PS4, PS5 and XBOX</h1>
            </ion-card-content>
          </ion-card>

          <ion-card class="objects">
            <ion-card-content>
              <h1 class="card_title"><strong>Some of our CD's</strong></h1>
              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="coldwar_ps5.jpg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>Call of Duty Cold War</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS5
                  </h1>
                  <ion-button
                    href="mortal-combat"
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>

              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="batman_ps3.jpeg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>BatMan Arkham Origins</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS3
                  </h1>
                  <ion-button
                    href=""
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>

              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="hitman_ps4.jpeg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>Hitman</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS4
                  </h1>
                  <ion-button
                    href="login"
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
              <ion-button
                href="shop"
                class="buy_btn"
                expand="block"
                fill="clear"
                shape="round"
                style="
                  background-color: #3880ff;
                  color: white;
                  margin: 5px;
                  border-radius: 10px;
                  width: 30%;
                  font-size: 10px;
                  margin-top: 30px;
                "
              >
                <strong>see more</strong>
              </ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card class="offers">
            <ion-card-content>
              <h1 class="card_title"><strong>Some of our offers</strong></h1>
              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="coldwar_ps5.jpg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>Call of Duty Cold War</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: red;
                      margin: 5px;
                      border-radius: 10px;
                      text-decoration: line-through;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    45$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS5
                  </h1>
                  <ion-button
                    href="login"
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>

              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="batman_ps3.jpeg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>BatMan Arkham Origins</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: red;
                      margin: 5px;
                      border-radius: 10px;
                      text-decoration: line-through;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    40$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS3
                  </h1>
                  <ion-button
                    href="login"
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>

              <ion-card style="background-color: black; width: 90%">
                <ion-card-header>
                  <ion-card-subtitle
                    ><img src="hitman_ps4.jpeg" alt=""
                  /></ion-card-subtitle>
                  <ion-card-title style="color: white">
                    <strong>Hitman</strong></ion-card-title
                  >
                </ion-card-header>
                <div class="row">
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="star.png" alt="" style="width: 100%" />
                  </div>
                  <div class="column">
                    <img src="halfstar.png" alt="" style="width: 100%" />
                  </div>
                </div>
                <div class="hi1">
                  <h1
                    style="
                      background-color: #3880ff;
                      color: red;
                      margin: 5px;
                      border-radius: 10px;
                      text-decoration: line-through;
                    "
                  >
                    60$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    30$
                  </h1>
                  <h1
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    PS4
                  </h1>
                  <ion-button
                    href="login"
                    class="buy_btn"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>info</strong>
                  </ion-button>
                  <ion-button
                    class="buy_btn"
                    (click)="buy()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    style="
                      background-color: #3880ff;
                      color: white;
                      margin: 5px;
                      border-radius: 10px;
                    "
                  >
                    <strong>BUY</strong>
                  </ion-button>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>

          <!--menu-->
          <ion-tabs class="tabs">
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="home" (click)="home()">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="shop" (click)="shop()">
                <ion-icon name="bag"></ion-icon>
                <ion-label>Shop</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="profile" (click)="profile()">
                <ion-icon name="person"></ion-icon>
                <ion-label>profile</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="about" (click)="aboutus()">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-content>
</body>
