<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">
            <ion-card-header>
              <ion-card-subtitle class="title">Your Profile</ion-card-subtitle>
              <ion-card-title class="login_title">review</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="first_name_profile">First Name</ion-label>
                <ion-input type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="last_name_profile">Last Name</ion-label>
                <ion-input type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="email_profile">Email</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="address_profile">Address</ion-label>
                <ion-input type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="phone_number_profile">Phone Number</ion-label>
                <ion-input type="string"></ion-input>
              </ion-item>
  
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="username_profile"> Username</ion-label>
                <ion-input type="string"></ion-input>
              </ion-item>
              <ion-item color="Light"class="input">
                <ion-label position="floating" name="password_profile">Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <br>
              <ion-button class="register_button" (click)="edit()" style=" border-radius: 10px;">Edit</ion-button>
              <ion-button class="register_button" (click)="save()" style=" border-radius: 10px;">Save</ion-button>
              <ion-button class="logout_button" (click)="logout" style=" border-radius: 10px;">Log Out</ion-button>

            </ion-card-content>
          </ion-card>
  
            <!--menu-->
            <ion-tabs class="tabs">
              <ion-tab-bar slot="bottom">
                <ion-tab-button tab="home" (click)="home()">
                  <ion-icon name="home"></ion-icon>
                  <ion-label>Home</ion-label>
                </ion-tab-button>
  
                <ion-tab-button tab="shop" (click)="shop()">
                  <ion-icon name="bag"></ion-icon>
                  <ion-label>Shop</ion-label>
                </ion-tab-button>
  
                <ion-tab-button tab="profile" (click)="profile()">
                  <ion-icon name="person"></ion-icon>
                  <ion-label>profile</ion-label>
                </ion-tab-button>
  
                <ion-tab-button tab="about" (click)="aboutus()">
                  <ion-icon name="information-circle"></ion-icon>
                  <ion-label>About</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-content>
</body>
