<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-subtitle class="welcome">Welcome Back!</ion-card-subtitle>
          <ion-card-title class="login_title">Login</ion-card-title>
        </ion-card-header>
      
        <ion-card-content >
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item color="Light" class="input">
              <ion-label position="floating" >Username</ion-label>
              <ion-input ngModel name="username" type="string" ></ion-input>
            </ion-item>
            <ion-item class="input"color="Light">
              <ion-label position="floating" type="password" >Password</ion-label>
              <ion-input ngModel name="password" type="password"></ion-input>
            </ion-item>
            <h3 style="margin-top:10px">Dont have an account?<a href="register"><strong> Register now!</strong></a></h3>
            
            <br>
            <ion-button type="submit" class="login_button" style=" border-radius: 10px;">Login</ion-button>
          </form>
        </ion-card-content>

      </ion-card>
    </div>
  </ion-content>
  
</body>


