.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../../../assets/wallpaper3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.card{
    padding: 20px;
    height: 440px;
    background-color: white;
    margin-top: 50px;
    opacity: 65%;
}

.login_title{
    text-align: center;
    color: black;
}
.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
}
.welcome{
    text-align: center;
    font-size: 30px;
    color: black;
}
.input{
    color: black;
}


