<ion-header>
  <ion-toolbar>
    <ion-title> Game Center login</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content class="body">
    <div class="centered">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-subtitle class="welcome">Welcome Back!</ion-card-subtitle>
          <ion-card-title class="login">login</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" type="password">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  

