<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<body>

    <ion-content>
      <div class="centered">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-subtitle class="title">Be Part Of Our Family!</ion-card-subtitle>
            <ion-card-title class="login_title">Register</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="first_name">First Name</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
    
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="last_name">Last Name</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
    
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="email">Email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
    
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="address">Address</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
    
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="phone_number">Phone Number</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>

            <ion-item color="Light"class="input">
              <ion-label position="floating" name="username"> Username</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
            <ion-item color="Light"class="input">
              <ion-label position="floating" name="password">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <br>
            <ion-button class="register_button" href="home-page" style=" border-radius: 10px;">Register</ion-button>
          </ion-card-content>
    
        </ion-card>
      </div>
    </ion-content>  

</body>

