<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<body>

    <ion-content>
      <div class="centered">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-subtitle class="title">Be Part Of Our Family!</ion-card-subtitle>
            <ion-card-title class="login_title">Register</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-item color="Light"class="input">
                <ion-label position="floating" >First Name</ion-label>
                <ion-input  ngModel name="first_name" type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" >Last Name</ion-label>
                <ion-input ngModel name="last_name" type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" >Email</ion-label>
                <ion-input ngModel name="email" type="email"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating" >Address</ion-label>
                <ion-input ngModel name="address" type="string"></ion-input>
              </ion-item>
      
              <ion-item color="Light"class="input">
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input  ngModel name="phone_number" type="tel"></ion-input>
              </ion-item>
  
              <ion-item color="Light"class="input">
                <ion-label position="floating" > Username</ion-label>
                <ion-input ngModel name="username" type="string"></ion-input>
              </ion-item>
              <ion-item color="Light"class="input">
                <ion-label position="floating">Password</ion-label>
                <ion-input ngModel name="password" type="password"></ion-input>
              </ion-item>
              <br>
              <ion-button class="register_button" style=" border-radius: 10px;">Register</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>  

</body>

