.centered{
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(../../../assets/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.title{
    text-align: center;
    font-size: 30px;
}
.card{
    margin-top: 90px;
    padding: 20px;
    width: 400px;
    height: 720px;
    background-color: white;
    opacity: 65%;
}

.title{
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.login_title{
    text-align: center;
    color: black;
}

.register_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
}
.input{
    color: black;
}



