<ion-header>
  <ion-toolbar>
    <ion-title> Game Center register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-subtitle class="title">Be Part Of Our Family!</ion-card-subtitle>
        <ion-card-title class="login_title">login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" name="email">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" type="password" name="password">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-card-content>
      Dont have an account?<a href="register"> Register now!</a>
      <br>
      <ion-button class="login_button" color="primary">Login</ion-button>
    </ion-card>
  </div>
</ion-content>
