<ion-header>
  <ion-toolbar>
    <ion-title>aboutus</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="div">
      <ion-infinite-scroll>
        <ion-infinite-scroll-content>
          <ion-card class="card">
            <ion-card-content class="welcome">
              <h1><strong>Know More About Us!</strong></h1>
            </ion-card-content>
          </ion-card>
          <ion-card class="what_we_have">
            <ion-card-content>
              <h1 class="card_title">
                <strong>what have we achieved till now?</strong>
              </h1>
              <ion-avatar class="hi">
                <img src="person.png" />
              </ion-avatar>
              <h1>Happy Customers!</h1>

              <ion-avatar class="hi">
                <img src="icon2.png" />
              </ion-avatar>
              <h1>CD's SOld!</h1>

              <ion-avatar class="hi">
                <img src="delivery.png" />
              </ion-avatar>
              <h1>Delivery Product Made!</h1>
            </ion-card-content>
          </ion-card>
          <h1 >Where To Find us?</h1>
          <div class="mapouter">
            <div style="margin: 20px;" class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=lau&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"></iframe><br></div>
        </div>
        <ion-card class="comments">
          <ion-card-content>
            <h1 style="color: black;">Give Us Your Thoughts!</h1>
            <ion-item>
              <ion-textarea  name="comments" placeholder="Add Comments..."></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>

          <!--menu-->
          <ion-tabs class="tabs">
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="home" (click)="home()">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="shop" (click)="shop()">
                <ion-icon name="bag"></ion-icon>
                <ion-label>Shop</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="profile" (click)="profile()">
                <ion-icon name="person"></ion-icon>
                <ion-label>profile</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="about" (click)="aboutus()">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-content>
</body>

