.card{
    margin-top: 65px;
    width:100%;
    background-color: white;
    opacity: 50%;
    height: 80px;
}
.welcome{
    color: black;
    margin-left: 0px;
    
}
.what_we_have{
    display: flex;
    justify-content: center;

    margin-top: 50px;

    height: 700px;
    background-color: white;
    opacity: 65%;
}
.comments{
    display: flex;
    justify-content: center;

    margin-top: 50px;

    height: 290px;
    background-color: white;
    opacity: 65%;
}
.card_title{
    color: black;
    text-align: center;
}
.hi{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.hi h1{
    font-size: 15px;
}

.input{
    color: black;
}
.tabs{
    bottom: 0;
    position: sticky;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/wallpaper3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}